body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: arial, helvetica, sans-serif;
  line-height: 20px;
}

#displaydiv {
  text-align: center;
}

.grid {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  /* This is better for small screens, once min() is better supported */
  /* grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr)); */
  grid-gap: 1rem;
  /* This is the standardized property now, but has slightly less support */
  /* gap: 1rem */
}

.grid>div {
  background-color: lightgray;
  box-shadow: 0.1em 0.1em 1em black;
  border-radius: 1em;
  padding: 1em;
}

.hide {
  display: none;
}

#neck {
  padding: 10px;
  box-shadow: 0.1em 0.1em 1em dimgray;
  border-radius: 10px;
  background-color: #f0f8ff;
  width: 90%;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

.interval {
  width: 200px;
  text-align: left;
  display: inline-block;
}

.degree {
  color: black;
  display: inline-block;
  width: 2em;
  border: 1px solid black;
  margin: 0.4em;
  border-radius: 0.8em;
}

.degree0 {
  r: 6;
  fill: #ffff00;
  background-color: #ffff00;
}

.degree1 {
  fill: #ffc800;
  background-color: #ffc800;
}

.degree2 {
  fill: #ff9600;
  background-color: #ff9600;
}

.degree3 {
  fill: #ff6400;
  background-color: #ff6400;
}

.degree4 {
  fill: #ff0000;
  background-color: #ff0000;
}

.degree5 {
  fill: #c8194b;
  background-color: #c8194b;
}

.degree6 {
  fill: #af327d;
  background-color: #af327d;
}

.degree7 {
  fill: #8632c8;
  background-color: #8632c8;
}

.degree8 {
  fill: #6432c8;
  background-color: #6432c8;
}

.degree9 {
  fill: #3296c8;
  background-color: #3296c8;
}

.degree10 {
  fill: #00ffc8;
  background-color: #00ffc8;
}

.degree11 {
  fill: #64ff64;
  background-color: #64ff64;
}

#string1 { stroke:grey }
#string2 { stroke:grey }
#string3 { stroke:grey }
#string4 { stroke:grey }
#string5 { stroke:grey }
#string6 { stroke:grey }

.circles {
  r: 7;
  stroke-width: 1;
  stroke: black;
}

.string0 { cy: 013 }
.string1 { cy: 038 }
.string2 { cy: 063 }
.string3 { cy: 090 }
.string4 { cy: 113 }
.string5 { cy: 138 }

.fret0  { cx: 10 ;   }
.fret1  { cx: 082 ;  }
.fret2  { cx: 153 ;  }
.fret3  { cx: 219 ;  }
.fret4  { cx: 280 ;  }
.fret5  { cx: 336 ;  }
.fret6  { cx: 388 ;  }
.fret7  { cx: 436 ;  }
.fret8  { cx: 481 ;  }
.fret9  { cx: 522 ;  }
.fret10 { cx: 560 ;  }
.fret11 { cx: 596 ;  }
.fret12 { cx: 628 ;  }
.fret13 { cx: 659 ;  }
.fret14 { cx: 686 ;  }
.fret15 { cx: 712 ;  }
.fret16 { cx: 736 ;  }
.fret17 { cx: 758 ;  }
.fret18 { cx: 779 ;  }
.fret19 { cx: 798 ;  }
.fret20 { cx: 815 ;  }
.fret21 { cx: 831 ;  }
.fret22 { cx: 846 ;  }
.fret23 { cx: 860 ;  }
.fret24 { cx: 873 ;  } 

.dot {
  r: 4;
  fill: #282828;
}

.sdiv {
  display: block;
}
